@page "/specialoffers"

<h1>Special Offers</h1>

<CascadingValue Name="DealName" Value="DealName">
    <!-- Any descendant component rendered here will be able to access the cascading value. -->
    <h2>Deal: @DealName</h2>
</CascadingValue>

<h2>Deal: @DealName</h2>

@code {
    [CascadingParameter(Name = "DealName")]
    private string DealName { get; set; } = "Throwback Thursday";
}
